<section class="section section9">
    <div class="inner">
        
        <div class="section9Contenu">
            {{ render(controller('App\\Controller\\BlockController::view', {id: 3} )) }}
        </div>

        <div class="section9Rseau">
            <a href="https://www.facebook.com/informatiqueavecvous/" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
            <a href="https://www.youtube.com/@lucpinelli07" target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i></a>
        </div>

    </div>

    <div class="section9Copyright">
        <a href="">Luc Pinelli - L'informatique avec vous</a>
    </div>

</section>